form {
    margin: 30px 0;
    display: flex;
    gap: 30px;
}

input {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgb(73, 73, 73);
}

h3 {
    margin: 30px 0 10px;
}

.low {
    color: #ffbf00;
}

.normal {
    color: green;
}

.high {
    color: #ffbf00;
}

.obesity1 {
    color: #ff4500;
}

.obesity2 {
    color: #ff0101;
}

.obesity3 {
    color: #ae0900;
}

